<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div class="row">
      {% assign news = site.news | reverse %}
      {% if include.limit and page.announcements.limit %}
        {% assign news_limit = page.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}

      {% for item in news limit: news_limit %}
        <div class="col-sm-12 ">
          <a href="{% if item.redirect %}{{ item.redirect }}{% else %}{{ item.url | relative_url }}{% endif %}" class="text-decoration-none">
            <div class="card hoverable">
              <div class="row ml-0 mr-0 align-items-center">
                {% if item.img %}
                  <div class="col-md-3">
                    {%
                      include figure.liquid loading="eager" path=item.img sizes="(min-width: 768px) 156px, 50vw"
                      alt="news thumbnail" class="news-img rounded"
                    %}
                  </div>
                {% endif %}
                <div class="p-0 {% if item.img %}col-md-9{% else %}col-md-12{% endif %}">
                  <div class="card-body">
                    <div class="news-header mb-2 d-flex justify-content-between align-items-center">
                      <h5 class="card-title m-0">{{ item.title }}</h5>
                      <span class="card-subtitle text-muted">{{ item.date | date: '%b %d, %Y' }}</span>
                    </div>
                    {% if item.description %}
                      <p class="card-text text-muted">{{ item.description }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
