---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="main-header">
      {% comment %} <img src="{{ 'assets/img/top-bar.png' | relative_url }}" alt="梁桥康课题组" decoding="async"> {% endcomment %}
      {% include figure.liquid loading="eager" path='assets/img/top-bar.png' width="" %}
    </div>
  </header>

  <article>
    <div>
      {{ content }}
    </div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h4 class="title-home">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">课题组新闻</a>
      </h4>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h4>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h4>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h4>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h4>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
