---
layout: default
---
<div class="post">
  <article>
    <div class="title-container">
      <div class="title-box">课题组负责人</div>
      <div class="title-line"></div>
    </div>
    {{ content }}
  </article>

  <article>
    <div class="title-container">
      <div class="title-box">在校生</div>
      <div class="title-line"></div>
    </div>

    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>

        <div class="profile-card">
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            <img src="{{ profile_image_path | relative_url }}" alt="{{ profile.name }}" class="profile-image">
          <div class="profile-info">
            <div class="profile-name">
              <h2>{{ profile.name }}</h2>
            </div>
            <p>{{ profile.title }}</p >
            <div class="profile-condition">
              <h3>基本情况</h3>
              <p>{{ profile.description }}</p >
              <p><strong>邮箱：<a href="mailto:{{ profile.email }}">{{ profile.email }}</a></strong></p>
              {% if profile.more_info %}
                <p>{{ profile.more_info }}</p >
              {% endif %}
            </div>
          </div>
        </div>

      {% endfor %}
    {% endif %}

    <div class="title-container">
      <div class="title-box">已毕业</div>
      <div class="title-line"></div>
    </div>
  </article>
</div>
